    RewriteCond %{HTTP_ACCEPT} image/webp 
    RewriteCond %{REQUEST_FILENAME} (.*)\.(jpe?g|png)$ 
    RewriteCond %1\.png -f [or]
    RewriteCond %1\.jpg -f [or]
    RewriteCond %1\.jpeg -f
    RewriteCond %1\.webp !-f
    RewriteRule (\.jpe?g|\.gif|\.png|\.svg)$ getWebp.php [NC]

    RewriteCond %{HTTP_ACCEPT} image/webp 
    RewriteCond %{REQUEST_FILENAME} (.*)\.(jpe?g|png)$ 
    RewriteCond %1\.webp -f 
    RewriteRule ^(.*)\.(jpg|png|jpeg)$ $1.webp [L,T=image/webp]
